*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: black;
    justify-items: center;
    align-items: center;
}

:root {
    --cell-size: 100px;
    --mark-size: calc((var(--cell-size) * .9));
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* background: black; */
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(9),
.cell:nth-child(6),
.cell:nth-child(3) {
    border-right: none;
}

.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: white;

}


.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
    background-color: white;
    border-radius: 100%;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .6);
    height: calc(var(--mark-size) * .6);
    background-color: black;
    border-radius: 100%;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(74, 74, 74);
}